prueba.MEL/src/main/resources/services/seiya/prueba/prueba.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://nequi.co/message/integration/services/mbs/prueba"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nequi.co/message/integration/services/mbs/prueba">

    <element name="pruebaRQ" type="tns:pruebaRQType"></element>

    <complexType name="pruebaRQType">
    	<sequence>
    		<element name="phoneNumber" type="string"></element>
    	</sequence>
    </complexType>
    
    <element name="pruebaRS" type="tns:pruebaRSType"></element>

    <complexType name="pruebaRSType"></complexType>
</schema>